<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="cache-control" content="max-age=0" />
	
	<title>Salesforce External Identity PoC</title>
	
	<meta name="salesforce-community" content="https://{{salesforce_community_url}}">
	<meta name="salesforce-client-id" content="{{salesforce_client_id}}">
	<meta name="salesforce-redirect-uri" content="https://{{salesforce_herokuapp_url}}/_callback">
	<meta name="salesforce-mode" content="{{salesforce_mode}}">
	<meta name="salesforce-server-callback" content="true">
	<meta name="salesforce-namespace" content="{{salesforce_namespace}}">
	<meta name="salesforce-target" content="#sign-in-link">
	<meta name="salesforce-save-access-token" content="true">
	<meta name="salesforce-forgot-password-enabled" content="{{salesforce_forgot_password_enabled}}">
	<meta name="salesforce-self-register-enabled" content="{{salesforce_self_register_enabled}}">
	<meta name="salesforce-login-handler" content="onLogin">
	<meta name="salesforce-logout-handler" content="onLogout">
	<link href="https://{{salesforce_community_url}}/servlet/servlet.loginwidgetcontroller?type=css" rel="stylesheet" type="text/css" />
	<script src="https://{{salesforce_community_url}}/servlet/servlet.loginwidgetcontroller?type=javascript_widget&min=false" async defer></script>
</head>

<body>
	<div id="sign-in-link" style="position: absolute; top: 20px; right: 20px;"></div>
	<header>
		<h2>Salesforce External Identity PoC - Embedded Login</h2>
	</header>

	<script>
		function onLogin(identity) {
			var targetDiv = document.querySelector(SFIDWidget.config.target);

			var avatar = document.createElement('a');
			avatar.href = "javascript:showIdentityOverlay();";

			var img = document.createElement('img');
			img.src = identity.photos.thumbnail;
			img.className = "sfid-avatar";

			var username = document.createElement('span');
			username.innerHTML = identity.username;
			username.className = "sfid-avatar-name";

			var iddiv = document.createElement('div');
			iddiv.id = "sfid-identity";

			avatar.appendChild(img);
			avatar.appendChild(username);
			iddiv.appendChild(avatar);

			targetDiv.innerHTML = '';
			targetDiv.appendChild(iddiv);
		}

		function showIdentityOverlay() {
			var lightbox = document.createElement('div');
			lightbox.className = "sfid-lightbox";
			lightbox.id = "sfid-login-overlay";
			lightbox.setAttribute("onClick", "SFIDWidget.cancel();");

			var wrapper = document.createElement('div');
			wrapper.id = "identity-wrapper";
			wrapper.onclick = function(event) {
				event = event || window.event // cross-browser event

				if (event.stopPropagation) {
					// W3C standard variant
					event.stopPropagation()
				} else {
					// IE variant
					event.cancelBubble = true
				}
			}

			var content = document.createElement('div');
			content.id = "sfid-content";

			var community = document.createElement('a');
			var commURL = document.querySelector('meta[name="salesforce-community"]').content;
			community.href = commURL;
			community.innerHTML = "Go to the Community";
			community.setAttribute("style", "float:left");
			content.appendChild(community);

			var logout = document.createElement('a');
			logout.href = "javascript:SFIDWidget.logout();SFIDWidget.cancel();";
			logout.innerHTML = "logout";
			logout.setAttribute("style", "float:right");
			content.appendChild(logout);

			var t = document.createElement('div');
			t.id = "sfid-token";
			t.className = "sfid-mb24";

			var p = document.createElement('pre');
			p.innerHTML = JSON.stringify(SFIDWidget.openid_response, undefined, 2);
			t.appendChild(p);

			content.appendChild(t);

			wrapper.appendChild(content);
			lightbox.appendChild(wrapper);

			document.body.appendChild(lightbox);
		}

		function onLogout() {
			SFIDWidget.init();
		}
	</script>
</body>
</html>
